@import url(https://d1zviajkun9gxg.cloudfront.net/content/layout/sections.css);
body,
html {
    font-weight: 300;
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: Lato, 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333
}

*,
a,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
p,
span,
strong {
    font-family: inherit;
    line-height: inherit;
    color: inherit
}

h1 .text-left,
h2 .text-left,
h3 .text-left,
h4 .text-left,
h5 .text-left,
p .text-left,
span .text-left,
strong .text-left {
    text-align: left
}

h1 .text-center,
h2 .text-center,
h3 .text-center,
h4 .text-center,
h5 .text-center,
p .text-center,
span .text-center,
strong .text-center {
    text-align: center
}

h1 .text-right,
h2 .text-right,
h3 .text-right,
h4 .text-right,
h5 .text-right,
p .text-right,
span .text-right,
strong .text-right {
    text-align: right
}

h1 {
    font-size: 42px
}

h2 {
    font-size: 36px
}

h3 {
    font-size: 32px
}

h4 {
    font-size: 28px
}

h5 {
    font-size: 24px
}

.ql-editor {
    padding: 0!important;
    overflow: hidden!important
}

.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4 {
    font-weight: 300
}

.code-container {
    position: relative;
    height: 100%;
    display: inline-block
}

@media screen and (min-width:1px) {
    .ql-editor h1 {
        font-size: 40px
    }
    .ql-editor h2 {
        font-size: 32px
    }
    .ql-editor h3 {
        font-size: 28px
    }
    .ql-editor h4 {
        font-size: 22px
    }
    .ql-editor p {
        font-size: 16px
    }
}

@media screen and (min-width:992px) {
    .ql-editor h1 {
        font-size: 52px
    }
    .ql-editor h2 {
        font-size: 38px
    }
    .ql-editor h3 {
        font-size: 34px
    }
    .ql-editor h4 {
        font-size: 28px
    }
    .ql-editor p {
        font-size: 16px
    }
}

strong {
    font-weight: 700
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer
}

button,
button * {
    cursor: pointer!important;
    outline: 0;
    margin: 0
}

img {
    image-rendering: auto
}

img.image-round {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px
}

img.image-circle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%
}

section {
    position: relative
}

section.section-padding-large {
    padding: 150px 0
}

section.section-padding-medium {
    padding: 125px 0
}

section.section-padding-small {
    padding: 25px 0
}

section.section-fullheight {
    min-height: 100vh;
    height: auto
}

section.section-fullwidth {
    min-width: 100vw;
    width: auto
}

section.section-overflow {
    overflow: auto
}

section .layout-color,
section .layout-media,
section .layout-media-image,
section .layout-media-video,
section .layout-media-video iframe {
    position: absolute;
    height: 115%;
    width: 100%;
    top: 0;
    left: 0
}

section .layout-media-image,
section .layout-media-video {
    overflow: hidden
}

section .layout-color {
    background-color: transparent
}

section .layout-media-image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

@media screen and (max-width:978px) {
    section .layout-media-image {
        background-attachment: inherit!important
    }
}

section .layout-media-video iframe {
    border: none;
    cursor: default
}

@media (max-width:992px) {
    section .layout-content [class*=col-] {
        padding: 30px 25px!important
    }
    section .layout-content form [class*=col-] {
        padding: 0 15px!important
    }
}

.dark-background {
    color: #fff
}

.light-background {
    color: #3e3e3e
}

.ql-reset-padding .ql-editor {
    padding: 5px 0!important
}

.icon-centered .icon {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center
}

.margin-icon .icon {
    margin-top: 10px
}

section .image-element {
    min-width: 125px
}

section .card {
    padding: 30px
}

@media (max-width:992px) {
    section .card {
        margin: 10px
    }
}

section .card-small {
    padding: 15px;
    margin: 30px 10px
}

section .card-border {
    border: 1px solid #bdc5d4;
    border-radius: 4px
}

section .card-flex {
    padding: 30px;
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
    width: 100%
}

section .card-flex.col-md-4 {
    margin: 0 20px;
    width: calc(33.3% - 40px)
}

@media (max-width:992px) {
    section .card-flex.col-md-4 {
        margin: 20px;
        width: calc(100% - 40px)
    }
}

section .background-black {
    background-color: #000;
    color: #fff
}

section .background-grey {
    background-color: #f4f6f8;
    color: #3e3e3e
}

section .background-transparent-black {
    background-color: rgba(0, 0, 0, .75);
    color: #fff
}

section .background-white {
    background-color: #fff;
    color: #000
}

section .round-5 {
    border-radius: 5px
}

section .min-height-115 {
    min-height: 115px
}

section .min-width-150 {
    min-width: 150px
}

section .card-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap
}

section .card-image {
    flex: 1;
    margin-top: 10px
}

section .image-circle-small {
    height: 75px;
    max-width: 75px;
    min-width: 1px
}

section .image-circle-medium {
    height: 100px;
    min-width: 1px;
    max-width: 100px
}

section .card-text {
    flex: 3
}

section .card-text-full-width {
    flex: 1 100%;
    width: 190px
}

section .card-pricing {
    max-width: 375px;
    margin: 0 auto
}

section .card-pricing-large {
    max-width: 380px;
    margin: 30px auto
}

section .form-container .round input {
    border-radius: 25px
}

section .form-container .round .checkbox-input {
    border-radius: 25px
}

section .form-container .transparent input:not([data-type=submit]) {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff
}

section .form-container .transparent input::placeholder {
    color: #fff
}

section .form-container input::placeholder {
    color: #222;
    opacity: 1
}

section .form-container .border input:not([data-type=submit]) {
    border: 1px solid #d4d4d4
}

section .form-container .transparent .checkbox-input {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff
}

section .form-container .transparent .checkbox-input input {
    border: 0
}

section .form-container input[data-type=submit] {
    text-align: center;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 300;
    border: 0
}

section .form-container input[data-type=email],
section .form-container input[data-type=number],
section .form-container input[data-type=text] {
    background: #fff;
    display: block;
    font-size: 16px;
    font-weight: 300
}

section .form-container .checkbox-input {
    position: relative;
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: left;
    justify-content: left;
    width: 100%;
    height: auto;
    min-height: 50px;
    font-size: 16px;
    color: #222;
    margin: 5px 0
}

section .form-container .checkbox-input input[type=checkbox] {
    margin: 15px 17.5px;
    height: 18px;
    width: 18px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: left
}

section .form-container .checkbox-input label {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: 0 0;
    line-height: 30px;
    padding: 10px 30px 10px 0;
    margin: 0;
    font-weight: 300
}

section .form-container .checkbox-input label .checkbox-placeholder {
    position: absolute;
    top: 0;
    z-index: 0;
    background: 0 0;
    margin: 0;
    font-weight: 300
}

section .form-container input,
section .form-container select {
    color: #222;
    padding: 10px 16px;
    outline: 0;
    display: block;
    margin: 5px 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 300
}

.popup-holder {
    position: relative
}

.popup-holder .popup-content {
    background: #fff;
    max-height: 90%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

#popup-payment .layout-content .payment-icon {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    font-size: 42px;
    text-align: center
}

#popup-payment .layout-content .payment-title {
    font-size: 24px;
    text-align: center
}

#popup-payment .layout-content .payment-description {
    text-align: center
}

#popup-payment .layout-content .payment-price {
    text-align: center;
    margin: 25px 0 40px;
    display: block
}

#popup-payment .layout-content .payment-price span {
    background: #222;
    color: #fff;
    font-weight: 600;
    padding: 7px 15px;
    border-radius: 50px
}

#popup-payment .layout-content .payment-form {
    position: relative;
    display: block;
    width: 100%
}

#popup-payment .layout-content .payment-form input {
    display: block;
    width: 100%;
    border-radius: 4px;
    border: none;
    background: #f5f5f5;
    outline: 0;
    padding: 10px 15px;
    margin: 5px 0;
    font-size: 16px;
    float: left
}

#popup-payment .layout-content .payment-form button {
    display: inline-block;
    width: 100%;
    background: #222;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 58px;
    margin-top: 15px;
    color: #fff;
    height: 58px
}

#popup-payment .layout-content .payment-form button.busy {
    color: transparent;
    font-size: 0;
    background: #222 url(https://ap.global.ssl.fastly.net/content/images/modals/button-busy.gif) no-repeat center
}

.ck>div>:first-child,
.ck>div>:last-child {
    margin-top: 0!important;
    margin-bottom: 0!important
}

@media (min-width:768px) {
    .payment-form .payment-form-input[name=payment-firstname],
    .payment-form .payment-form-input[name=payment-lastname] {
        width: 50%!important
    }
    .payment-form .payment-form-input[name=payment-firstname] {
        width: calc(50% - 10px)!important;
        margin-right: 10px!important
    }
    .payment-form .payment-form-input[name=payment-street] {
        width: calc(70% - 10px)!important;
        margin-right: 10px!important
    }
    .payment-form .payment-form-input[name=payment-house-number] {
        width: 30%!important
    }
    .payment-form .payment-form-input[name=payment-postal] {
        width: calc(35% - 10px)!important;
        margin-right: 10px!important
    }
    .payment-form .payment-form-input[name=payment-country] {
        width: 65%!important
    }
}

.text-color-black {
    color: #000
}

@media (min-width:992px) {
    .col-md-offset-right-12 {
        margin-right: 100%
    }
    .col-md-offset-right-11 {
        margin-right: 91.66666667%
    }
    .col-md-offset-right-10 {
        margin-right: 83.33333333%
    }
    .col-md-offset-right-9 {
        margin-right: 75%
    }
    .col-md-offset-right-8 {
        margin-right: 66.66666667%
    }
    .col-md-offset-right-7 {
        margin-right: 58.33333333%
    }
    .col-md-offset-right-6 {
        margin-right: 50%
    }
    .col-md-offset-right-5 {
        margin-right: 41.66666667%
    }
    .col-md-offset-right-4 {
        margin-right: 33.33333333%
    }
    .col-md-offset-right-3 {
        margin-right: 25%
    }
    .col-md-offset-right-2 {
        margin-right: 16.66666667%
    }
    .col-md-offset-right-1 {
        margin-right: 8.33333333%
    }
    .col-md-offset-right-0 {
        margin-right: 0
    }
}

	